.join-button{
    border-radius: 5px;
    background-color: rgb(45, 181, 235);
    color: white;
    width: 16rem;
    height: 2rem;
    font-weight: bold;
    font-size: 1.9vh;
    
}

.loginAllContainer{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 100px;
}

.loginContainer{
    background: #fff;
    width: 350px;
    height: 380px;
    border: 1px solid #dbdbdb;
    margin-bottom: 1rem;
}

.loginContainer-2{
    background-color: #fff;
    width: 350px;
    height: 70px;
    border: 1px solid #dbdbdb;
}

.loginLogo{
    display: block;  
    width: 15rem;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

input{ 
    display: block;
    width: 250px;
    height: 40px;
    margin: 0 auto;
    background: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    text-indent: 5px;
    outline-color: gray;
    font-size: small;
}



.orContainer{
    width: 350px;
}